@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat Variable', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
}


body {  
  margin: 0;
  min-width: 320px;
  min-height: calc(100vh - 76px);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  @apply select-none pointer-events-none
}

.swiper-wrapper {
  padding-bottom: 5rem;
}

.swiper-pagination-bullet {
  @apply h-4 w-4 bg-[#070707] opacity-100
}

.swiper-pagination-bullet-active {
  @apply bg-[#5B8266]
}

.swiper-pagination-bullets {
  @apply space-x-6
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  background-position: center;
  background-size: 48px;
  background-repeat: no-repeat;
  padding: 8px 16px;
}

.swiper-button-prev {
  @apply h-8 w-8 bg-center bg-[url('/icons/switcher-navigation.svg')]
}

.swiper-button-next {
  @apply h-8 w-8 bg-center rotate-180 bg-[url('/icons/switcher-navigation.svg')]
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}